    #destaques-slider {
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;

        $height-desktop: 40vw;
        

        #slides {
            height: $height-desktop;
            position: relative;
            z-index: 2;

            .slick-list {
                overflow: visible;
            }

            .slide {
                height: $height-desktop;
                position: relative;
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(stretch);
                @include align-content(center);
                @include align-items(stretch);


                .slide-text {
                    position: relative;
                    z-index: 1;
                    text-align: center;
                    @include flex();
                    @include flexbox();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);
                    @include align-content(center);
                    color: white;

                    h1 {
                        font-size: 72px;
                        font-size: 7.2rem;
                        line-height: 72px;
                        line-height: 7.2rem;
                        font-weight: 500;
                        opacity: 0;
                        @include transform(translateY(100px));
                        @include transition(all ease .4s .1s);
                    }
                    h3 {
                        font-size: 38px;
                        font-size: 3.8rem;
                        line-height: 38px;
                        line-height: 3.8rem;
                        font-weight: normal; 
                        opacity: 0;
                        @include transform(translateY(100px));
                        @include transition(all ease .4s .50s);
                    }
                }

                .slide-footer {
                    position: relative;
                    z-index: 1;
                    color: white;

                    .slide-info {
                        @include flexbox();
                        @include justify-content(flex-end);

                        .info {
                            opacity: .5;
                            padding: 30px 0 20px 0px;
                            margin-right: 30px;
                            @include flex();
                            img {
                                display: block;
                                margin-bottom: 10px;        
                            }
                            span {
                                display: block;
                                font-weight: 500;
                            }

                            

                            &.more-info {
                                opacity: 1;
                                padding: 0;

                                .more-info-btn {
                                    position: absolute;
                                    z-index: 2;
                                    bottom:-82px;
                                    background-color: $accent;
                                    color: white;
                                    display: block;
                                    height: 130px;
                                    padding: 35px;
                                    font-size:14px;
                                    width: 300px;
                                    text-decoration: none;
                                    @include flexbox();
                                    @include justify-content(center);
                                    @include flex-direction(column);
                                    @include align-items(flex-start);
                                    @include align-content(center);

                                }
                            }
                        }

                        @include media-breakpoint-down(md) {
                            
                            .info {
                                &:not(.more-info) {
                                    display: none;
                                }

                                &.more-info {
                                    @include flex-grow(0);
                                    margin-right: 0;
                                    .more-info-btn {
                                        position: relative;
                                        bottom: 0;
                                        height: auto;
                                        width: 140px;
                                        padding:30px;
                                    }
                                }
                            }
                        }
                    }
                }

                .slide-image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 0;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0.86;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), #000000);
                        z-index: 1;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                        z-index: 0;
                        position: relative;
                    }
                }

                &.slick-active {
                    .slide-text {
                        h1, h3 {
                            opacity: 1;
                            @include transform(translateY(0));
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {

            //overflow: visible;
            margin-bottom: -20px;

            $height-mobile: 60vw;
            #slides {
                height: 80vw;
                .slide {
                    height: $height-mobile;
                    //margin-bottom: 60px;
                    .slide-text {
                        padding: 20px;
                        padding-bottom: 0;
                    }
                    .slide-footer {
                        margin-bottom: -60px;

                        .container {
                            margin: 0;
                            max-width: 100%;
                            width: 100%;
                            padding: 0;
                        }
                    }

                    .slide-image {
                        &:before {
                            opacity: 0.6;
                            background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74), #000000)
                        }
                    }
                }
            }
        }


        #slider-nav {
            position: relative;
            .nav-list {
                @include flexbox();

                .list-item {
                    @include flex();
                    padding: 20px 0 30px 0;
                    margin-right: 30px;
                    position: relative;
                    cursor: pointer;
                    
                    strong, small {
                        display: block;
                        color: $text-gray;
                        @include trans();
                    }

                    @keyframes loadbar {
                        0% {
                            width:0;
                        }
                        100% {
                            width:100%;
                        }
                    }

                    @keyframes loadbar_reverse {
                        0% {
                            width:100%;
                        }
                        100% {
                            width:0%;
                        }
                    }

                    &:not(:last-child) {

                        &:before {
                            position: absolute;
                            left: 0;
                            top: -6px;
                            bottom: inherit;
                            width: 100%;
                            background-color: white;
                            height: 6px;
                            z-index: 2;
                            content: '';
                            @include trans();
                            @include transform(scaleY(0));
                            @include transform-origin(center bottom);            
                        }

                        &:after {
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            width: 0;
                            background-color: $accent;
                            height: 3px;
                            z-index: 2;
                            content: '';
                        }

                        border-bottom:3px solid $gray;
                        
                        &.active {
                            &:before {
                                top: -6px;
                                @include transform(scaleY(1));
                            }
                        }

                        &:not(.active) {
                            &:before {
                                top: inherit;
                                bottom: 0px;
                                background-color: #f2f2f2;
                            }
                            &:hover {
                                strong {
                                    color: $primary;
                                }
                                &:before {
                                    @include transform(scaleY(1));
                                }
                            }
                        }
                    }

                    &.active {
                        strong {
                            color: $accent;
                        }
                        &:after {
                            animation: loadbar 6.5s ease-in forwards;
                        }
                    }
                    &.desactive {
                        &:after {
                            animation: loadbar_reverse .10s ease-in forwards;
                        }
                    }
                }
            }

            @include media-breakpoint-down(md) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999;

                .container {
                    width: 100%;
                    max-width: 100%;
                    display: block;
                    margin: 0;
                    padding: 0;
                }

                .nav-list {
                    display: block;
                    position: relative;

                    .list-item {
                        position: absolute;
                        left: 0;
                        top: 0;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        border-bottom: 0 !important;

                        strong, small, &:before {
                            display: none;
                        }
                    }
                }
            }

        }
    }
