// .dropdown {
//     .btn {
//         border: 1px solid $gray;
//         padding: 10px 15px;
//                 &:after {
//                     //content: fa-content($fa-var-angle-down);
//                     // font-family: 'Font Awesome 5 Free';
//                     // font-weight: 900;
//                     content: ' ';
//                     background: url("../img/icons/arrow-down.svg") no-repeat;
//                     position:absolute;
//                     right: 20px;
//                     top: 50%;
//                     transform:translateY(-50%);
//                     font-size:20px;
//                     color: $accent;
//                     z-index: 1;
//                     width: 10px;
//                     height: 6px;
//                     background-size: contain;
//                 }
//     }
// }