.list-similares {
    
    .section-header {
        width: 100px;
        border-right:1px solid $gray;
        margin-right: 50px;
        .section-title {
            @include transform(rotate(-90deg));
            margin-top: 142px !important;

        }
    }

    .list-imoveis {
        .imovel-card {
            @include flex(0 0 auto);
            padding: 0 10px;
            width: calc(400px + 20px);
        }
    }
}

@include media-breakpoint-down(md) {
    .list-similares {
                
        .section-header {
            width: 100%;
            border-bottom: 1px solid $gray;
           .section-title {
               @include transform(rotate(0));
               margin: 30px 0;
           }
        }

        .list-imoveis {
            .imovel-card {
                padding: 0;
                width: 100%;
                
            }
        }
    }
    
}
