.imoveis {
    .list-imoveis {

        .imovel {
            @include flex(1 0 auto);
            padding: 0 10px;
            width: calc(270px + 20px);


            .imovel-container {
                height: 515px;
                overflow: hidden;
                margin-bottom: 15px;

                .imovel-content {
                    @include trans('all .5s cubic-bezier(1.000, 0.000, 0.000, 1.000)');
                }
            }

            .imovel-img {
                img {
                    width: 100%;
                    height: 360px;
                    object-fit: cover;
                }
            }

            .imovel-details {
                .imovel-title {
                    padding: 20px;
                    border-bottom:1px solid $gray;
                    max-height: 91px;
                }

                .imovel-info {
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    @include align-content(center);
                    padding: 20px 0;


                    .info {
                        @include flex();
                        @include flexbox();
                        @include flex-direction(column);
                        @include align-items(center);
                        @include justify-content(center);
                        @include align-content(center);
                        @include flex-basis(33%);
                        @include flex-grow(0);
                        padding: 0 10px;
                        
                        &:first-child {
                            border-right:1px solid $gray;

                        }

                        &.info-tamanho {
                            small {
                                text-transform: lowercase;
                            }
                        }

                        &:last-child {
                            border-left:1px solid $gray;
                        }

                        small {
                            margin-top: 5px;
                            color: $text-gray;
                            font-size:10px;
                            font-weight: 300;
                            text-transform: capitalize;
                        }
                    }
                }

                .imovel-description {
                    padding: 20px;
                    border-top:1px solid $gray;
                    font-family: 'Helvetica';
                    font-size:12px;
                    color: $text-gray;
                }

                .imovel-price {
                    padding:0 20px;
                    > small {
                        font-size:12px;
                        color: $text-gray;
                        display: block;
                    }
                }

                
            }

            @include media-breakpoint-up(md) {
                &:hover {
                    .imovel-container {
                        .imovel-content {
                            @include transform(translateY(-230px));
                        }
                    }
                }
            }

            @include media-breakpoint-down(md) {
                padding: 0;
                width: 100%;

                position: relative;

                .imovel-content {
                    @include flexbox();
                    padding-bottom: 74px;

                    .imovel-img {
                        @include flex(0 0 117px);
                        width: 117px;

                        img {
                            height: 150px;
                        }
                    }

                    .imovel-details {
                        .imovel-title {
                            border: 0;
                        }
                        .imovel-description {
                            display: none;
                        }

                        .imovel-info {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            border-top: 1px solid $gray;
                            border-bottom: 1px solid $gray;
                            padding: 10px 0;
                        }
                    }
                }

                .imovel-container {
                    height: auto;
                }

                .imovel-footer {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    a {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: none;
                        padding: 0;
                        text-indent: -99999px;
                    }

                }
            }

            .imovel-footer {
                a {
                    font-weight: 300;
                    text-transform: capitalize;
                }
            }

        }
    }
}

@include media-breakpoint-down(md) {
    .imoveis {
        border-top: 1px solid $gray;
    }
}