.equipe {
    .list-integrantes {

        .integrante {
            @include flex(1 0 auto);
            padding: 0 0px;
            width: calc(270px + 20px);

            .integrante-container {
                overflow: hidden;
                margin-bottom: 15px;

                .integrante-content {
                    @include trans();
                }
            }

            .integrante-img {
                img {
                    width: 100%;
                    height: 360px;
                    object-fit: cover;
                }
            }

            .integrante-footer {
                padding: 10px 20px;
                span {
                    color: $text-gray;
                }
            }

            
        }
    }
}

@include media-breakpoint-down(md) {
    .equipe {
        .list-integrantes {
    
            .integrante {
                margin: 0 5px;
            }
        }

    }
}