.list-noticias {

    padding-left: calc(50% - 570px);

    .list-horizontal {
        @include flexbox();

        .list-items {
            overflow: visible;
            padding-left: 0;
            cursor: grab;

        }
    }

    .mCSB_container {
        margin-bottom: 0 !important;
    }
    
    .section-header {
        width: 100px;
        border-right:1px solid $gray;
        margin-right: 20px;
        position: relative;
        .section-title {
            margin-top: 112px !important;
            @include transform(rotate(-90deg));
            //@include transform-origin(bottom);
        }

        .section-nav {
            position: absolute;
            right: 20px;
            bottom: 40px;

            .arrow {
                cursor: pointer;
                margin: 0 10px;
            }

            .arrow-prev {
                img {
                    @include transform(rotate(180deg));
                }
            }
        }
    }

    .lists {
        overflow: hidden;
        overflow-x: scroll;

        .list-items {
            margin-bottom: 20px;
        }

    }
    .list-items {
        .noticia-card {
            @include flex(0 0 auto);
            width: calc(240px + 20px);
            border: 1px solid $gray;
            margin: 0 10px;

            .noticia-img {
                overflow: hidden;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 250px;
                    @include transition();
                }
            }

            &:hover {
                .noticia-img {
                    img {
                        @include transform(scale(1.1));
                    }
                }

                .arrow-hover {
                    @extend .arrow-hover-active;
                }
            }

            .noticia-category {
                @include flexbox();
                @include justify-content(flex-start);
                @include align-items(center);
                margin-bottom: 10px;
                > hr {
                    width: 20px;
                    border-color: red;
                    border-width: 2px;
                    @include flex-grow(0);
                    margin-right: 10px;
                }

                small {
                    @include flex-grow(1);
                    font-size: 7px;
                    font-weight: 300;
                    text-transform: uppercase;
                    color: $primary;
                    letter-spacing: 1px;

                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        a {
                            font-size: 7px;
                            font-weight: 300;
                            text-transform: uppercase;
                            color: $primary;
                        }
                    }
                }
            }

            .noticia-details {
                padding: 20px;
                min-height: 170px;
                position: relative;
            }

            .noticia-description {
                word-wrap: break-word;
                font-size: 14px;
                font-weight: 300;
            }

            .arrow-hover {
                position: absolute;
                left: calc(100% - 50px);
                bottom: 20px;
                @include transform(scale(.7));
                @include transform-origin(left center);
            }



        }

        &:not(.sem-imagem) {
            .noticia-card {
                &:nth-child(2) {
                    width: calc(500px + 40px);
                    position: relative;
                    .noticia-img {
                        height: 100%;
                        position: absolute;
    
                        img {
                            height: 100%;
                        }
                    }
    
                    .noticia-details {
                        background-color: white;
                        position: absolute;
                        z-index: 2;
                        bottom: 0;
                        width: 320px;
                    }
                }
            }
        }

        &.sem-imagem {
            margin-bottom: 0;
            .noticia-card {
                border: 0;
                border-left: 1px solid $gray;
                .noticia-img {
                    display: none;
                }

                &:first-child {
                    border: 0;
                }

                .arrow-hover {
                    display: none;
                }

                .noticia-details {
                    @include flexbox();
                    @include flex-direction(column);

                    .noticia-category {
                        @include order(2);
                    }
                    .noticia-description {
                        @include order(1);
                    }
                }
            }
        }

    }
}

@include media-breakpoint-down(md) {
    .list-noticias {
        margin-top: 20px;
        .lists {
            overflow-x: hidden;
        }
        .list-items {
            .noticia-card {
                width: auto;
                margin-bottom: 20px;
            }

            &.sem-imagem {
                @include flexbox();
                overflow-x: scroll;

                > * {
                    @include flex();
                    @include flex-basis(240px);
                    @include flex-shrink(0);
                }
            }


            &:not(.sem-imagem) {
                .noticia-card {
                    &:nth-child(2) {
                        width: calc(500px + 40px);
                        height:500px;
                        position: relative;
                        
                    }
                }
            }
        }
    }
}