.price {
    font-size:18px;
    font-weight: 300;
    display: inline-block;
    position: relative;

    .price-cifrao {
        display: inline-block;
        position: relative;
        z-index: 2;
        font-size: 11px;
    }

    .price-valor {
        display: inline-block;
        position: relative;
        z-index: 2;
        font-weight: 500;
    }

    &:after {
        content: '';
        background-color: #ffea6a;
        width: 115%;
        height: 55%;
        position: absolute;
        bottom: 2px;
        left: -5px;
        z-index: 1;
    }
}