.theme-blue {
    .back-bar {
        .pointer {
            background: $accent;
            border: 1px solid white;
            @include transform(scale(1.5));
        }
        .selected-bar {
            background: $accent;
        }
    } 
} 

.theme-green {
    .back-bar {
        .pointer {
            background: white;
            border: 1px solid white;
            @include transform(scale(1.2));
        }
        .selected-bar {
            background: white;
        }

        background: lighten(black, 40%);
    } 
} 

.range {

    padding: 0 10px;

    .range-header {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include align-content(center);
        margin-bottom: 10px;

        > * {
            @include flex-grow(0);
            color: $primary;
            font-weight: 300;
        }

        hr {
            width: 15px;
            border-color: $primary;
            @include flex-grow(0);
            margin: 0 10px;
        }

        small {
            font-size: 10px !important;
            position: relative;
            top: -5px !important;
            font-weight: 300 !important;
        }


    }
}