#imoveis {
    position: relative;

    [data-loader] {
        opacity:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(white, .9);
        z-index: -1;
        @include trans();

        span {
            color: $accent;
            font-size:18px;
            font-weight: bold;
            position: absolute;
            z-index: 99;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
        }

        &.active {
            opacity: 1;
            z-index: 9999;
        }

        @include media-breakpoint-down(md) {
            position: fixed;
            left: 0;
            top: 0;
            text-align: center;
        }


    }


    .imoveis-list {

        .col-left {
            padding: 30px;
            height: calc(150vh - 65px);

            .imoveis {
                position: relative;
                .imoveis-container {
                    overflow: hidden;
                    height: calc(150vh - 345px);
                }
            }

            .imoveis-row {
                .imovel-card {
                    //display: none;
                }
            }
        }
        .col-right {
            background-color: $gray;
            height: calc(100vh - 80px);
            padding: 0;

            &.fixed {
                position: fixed;
                top: 0px;
                right: 0;
                height:100vh;
            }
            &.fixed-bottom {
                margin-top: 320px;
                position: relative;
            }

            #map {
                width: 100%;
                height: calc(100vh - 80px);
                background-color: white;

                .col-sm-6 {
                    width: 100%;
                    max-width: 100%;
                    @include flex(0 0 100%);

                    padding: 0;
                    width: 100%;

                    position: relative;

                    .arrow-hover {
                        display: none;
                    }
                    
                    .imovel-content {
                        @include flexbox();
                        padding-bottom: 74px;

                        .imovel-img {
                            @include flex(0 0 117px);
                            width: 117px;

                            img {
                                height: 150px;
                                display: none;

                                &:first-child {
                                    display: block;
                                }
                            }
                        }

                        .imovel-details {
                            .imovel-title {
                                border: 0;
                            }
                            .imovel-description {
                                display: none;
                            }

                            .imovel-info {
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                border-top: 1px solid $gray;
                                border-bottom: 1px solid $gray;
                                padding: 10px 0;
                            }
                        }
                    }

                    .imovel-container {
                        height: auto;
                        border: 0;
                    }

                    .imovel-footer {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        a {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: none;
                            padding: 0;
                            text-indent: -99999px;
                        }

                    }
                }
            }
        }

        .imoveis-list-header {
            margin-bottom: 25px;
            .list-title {
                background-color: #f9f8f7;
                padding: 20px;
                text-align: center;
                font-weight: 300;
                margin-bottom: 20px;
            }

            .list-filters {
                @include flexbox();
                @include align-items(center);
                @include align-content(center);
                padding-bottom: 20px;
                border-bottom: 1px solid $gray;
                margin-bottom: 20px;

                > hr {
                    width: 24px;
                    border-color: $text-gray;
                }

                small {
                    color: $text-gray;
                    text-transform: uppercase;
                    top: 2px;
                    position: relative;
                    font-size:7px;
                    letter-spacing: 1px;
                    font-weight: 300;

                    &.limpar-filtros {
                        color: $accent;
                        cursor: pointer;
                        opacity: 0;
                        @include transition();

                        &.active {
                            opacity: 1;
                        }
                    }
                }

                small, > hr {
                    @include flex-grow(0);
                    margin-right: 10px;
                }

                .filters {
                    @include flex-grow(1);
                }
            }

            .list-subheader {
                @include flexbox();
                @include align-items(center);
                @include align-content(center);

                [data-total], [data-error] {
                    opacity:0;
                    display: none;
                    @include transition();
                    &.active {
                        display: block;
                        opacity: 1;
                    }
                }

                [data-total] {
                    font-size: 14px;
                    font-weight: 300;
                    strong {
                        font-weight: 500;
                    }
                }

                .list-order {
                    @include flexbox();
                    @include align-items(center);
                    label {
                        margin-right: 15px;
                        color: $text-gray;
                        @include flex-shrink(0);
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #imoveis {
        .imoveis-list {
            .imoveis-list-header {
                padding: 20px;

                .list-subheader {
                    @include flex-direction(column);


                    .list-order {
                        margin-top: 15px;
                        @include align-self(flex-end);
                        @include flexbox();
                        @include align-items(center);

                        label {
                            @include flex-shrink(0);
                        }
                    }
                }

                .list-filters {
                    @include flex-direction(column);
                    
                    > .filters-title, > hr {
                        display: none;
                    }

                    .filters {
                        margin-bottom: 10px;
                        overflow: hidden;
                        overflow-x: scroll;
                        .filter {
                            margin: 0 8px;
                            @include flex(1 0 auto);
                            &:first-child {
                                margin-left: 0;
                            }

                            > button {
                                min-width: auto;
                            }
                        }
                    }
                }
            }
            .col-left {
                padding: 0;
                height: auto;

                .imoveis {
                    .imoveis-container {
                        height: auto;
                    }
                }
            }

            .col-right {
                display: none;
            }
        }
    }
}
