$black:         #3d4345;
$blue:          #4138ec;
$gray:          rgba(#cccccc, .5);

$primary:           $black;
$accent:            $blue;
$text-primary:      $primary;
$text-accent:       $accent;
$text-gray:         #babbba;