// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800');

// body {
// 	font-family: 'Montserrat', sans-serif;
// }


@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('../fonts/AvantGarde-Book.woff2') format('woff2'),
			url('../fonts/AvantGarde-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('../fonts/AvantGarde-Medium.woff2') format('woff2'),
			url('../fonts/AvantGarde-Medium.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('../fonts/AvantGarde-Demi.woff2') format('woff2'),
			url('../fonts/AvantGarde-Demi.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('../fonts/AvantGarde-Bold.woff2') format('woff2'),
			url('../fonts/AvantGarde-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Light.eot');
    src: url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Light.woff2') format('woff2'),
        url('../fonts/Helvetica-Light.woff') format('woff'),
        url('../fonts/Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}



// @import "../../../bower_components/components-font-awesome/scss/fontawesome";    

// @font-face {
// 	font-family: 'Font Awesome 5 Brands';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: url("../../build/fonts/fa-brands-400.eot");
// 	src: url("../../build/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../../build/fonts/fa-brands-400.woff2") format("woff2"), url("../../build/fonts/fa-brands-400.woff") format("woff"), url("../../build/fonts/fa-brands-400.ttf") format("truetype"), url("../../build/fonts/fa-brands-400.svg#fontawesome") format("svg"); }
  
//   .fab {
// 	font-family: 'Font Awesome 5 Brands' !important; }
//   @font-face {
// 	font-family: 'Font Awesome 5 Free';
// 	font-style: normal;
// 	font-weight: 300;
// 	src: url("../../build/fonts/fa-regular-400.eot");
// 	src: url("../../build/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../../build/fonts/fa-regular-400.woff2") format("woff2"), url("../../build/fonts/fa-regular-400.woff") format("woff"), url("../../build/fonts/fa-regular-400.ttf") format("truetype"), url("../../build/fonts/fa-regular-400.svg#fontawesome") format("svg"); }
  
//   .far {
// 	font-family: 'Font Awesome 5 Free' !important;
// 	font-weight: 300; }
//   @font-face {
// 	font-family: 'Font Awesome 5 Free';
// 	font-style: normal;
// 	font-weight: 900;
// 	src: url("../../build/fonts/fa-solid-900.eot");
// 	src: url("../../build/fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../../build/fonts/fa-solid-900.woff2") format("woff2"), url("../../build/fonts/fa-solid-900.woff") format("woff"), url("../../build/fonts/fa-solid-900.ttf") format("truetype"), url("../../build/fonts/fa-solid-900.svg#fontawesome") format("svg"); }
  
  
// 	.fas {
// 	font-family: 'Font Awesome 5 Free' !important;
// 	font-weight: 900; }
  