@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/slick-carousel/slick/slick.scss';
@import '../../../node_modules/slick-carousel/slick/slick-theme.scss';
@import '../../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css';
@import '../../../node_modules/jquery-range/jquery.range.css';
/* theme: "ang" */

.mCS-ang.mCSB_scrollTools .mCSB_draggerRail{ background-color:#e5e5e5; }

.mCS-ang.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: $text-gray; }

.mCS-ang.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color:$text-gray; }

.mCS-ang.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-ang.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color:darken($text-gray,10%); }

.mCS-ang.mCSB_scrollTools .mCSB_buttonUp{ background-position: -80px 0; }

.mCS-ang.mCSB_scrollTools .mCSB_buttonDown{ background-position: -80px -20px; }

.mCS-ang.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -80px -40px; }

.mCS-ang.mCSB_scrollTools .mCSB_buttonRight{ background-position: -80px -56px; }

/* ---------------------------------------- */
